.chart-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.test {
  width: 20px;
  height: 20px;
}
:host ::ng-deep {
  .mat-grid-tile-content {
    align-items: flex-start;
    justify-content: baseline;
  }
}

.search-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .highlighter {
    border: 1px 0 0 0 solid black;
  }
}

.list-card {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
