<mat-grid-list cols="4" rowHeight="200px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-gauge [data]="(xvwap_volume$ | async)!" label="volume"></app-gauge>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-gauge
      [data]="(xvwap_equal$ | async)!"
      label="equal weight"
    ></app-gauge>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-gauge [data]="(xvwap_inverse$ | async)!" label="inverse"></app-gauge>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="3">
    <app-symbol-list [data]="(listItems$ | async)!"></app-symbol-list>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="2">
    <mat-card class="chart-placeholder">
      <div>chart goes here!</div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
