:host {
  width: 100%;
}

.list-item {
  display: flex;
  justify-content: space-between;
  height: 20px !important;
}

.list-item-symbol {
  width: 30%;
}

.symbols-list {
  height: 660px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-item-delta {
  font-family: "consolas";
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  height: 20px;
}

.list-item-delta-up {
  color: green;
}

.list-item-delta-down {
  color: red;
}

.highlight {
  background-color: yellow;
}
