:host {
  width: 100%;
}

.list-card {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  height: 3vh !important;
}

.list-item-symbol {
  width: 30%;
}

.symbols-list {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-item-delta {
  font-family: "consolas";
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 3vh;
  height: 3vh;
}

.list-item-delta-up {
  color: green;
}

.list-item-delta-down {
  color: red;
}
