<mat-card class="list-card">
  <mat-list role="list" class="symbols-list" *ngIf="data">
    <mat-list-item *ngFor="let item of data" class="list-item" role="listitem">
      <div mat-line class="list-item">
        <span class="list-item-symbol">
          {{ item.symbol }}
        </span>
        <span class="list-item-delta list-item-delta-{{ item.delta }}">
          <mat-icon *ngIf="item.delta !== 'equal'" [@fadeAnimation]="'in'"
            >arrow_drop_{{ item.delta }}</mat-icon
          >
        </span>
        <span class="list-item-value" [ngStyle]="{ color: item.color }">{{
          item.distance | percent: "1.2-2"
        }}</span>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
